*{
  box-sizing: border-box;
}
body{
  background-color: #214f61;
}
.container{
  padding: 10px;
  max-width: fit-content;
  margin: 50px auto;
}
.btn{
  border: black;
  padding: 7px 15px;
  font-size: 18px;
  border-radius: 7px;
  cursor: pointer;
}
.btn-add{
  background-color: rgb(253, 253, 0);
  font-weight: 552;
  font-family: 'Times New Roman', Times, serif;
}

.addContainer{
  position: absolute;
  font-family:'Times New Roman', Times, serif ;
  font-size: large;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addContainer form{
  width: 400px;
  background-color: rgb(93, 158, 71);
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  box-shadow:  10px 10px 20px rgba(255, 6, 6, 0.2);
  border-radius: 10px;
}

.addContainer form input{
  font-size: 20px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.addContainer form button{
  background-color: rgb(0, 0, 188);
  color: aliceblue;
  font-weight: 552;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20px;
}

.addContainer form .close-btn{
  margin-left: auto;
  font-size: 20px;
  font-weight: 500;
  width: 20px;
  height: 20px;
  background-color: rgb(244, 0, 0);
  border: 1px solid black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -20px;
  cursor: pointer;
}

.tableContainer{
  margin-top: 40px;
  border: 2px solid black;
  box-shadow: 10px 10px 20px rgba(209, 209, 8, 0.2);
  border-radius: 10px;
}

.tableContainer table thead tr{
  background-color: rgb(191, 18, 221);
}

.tableContainer table thead tr th{
  min-width: 200px;
  padding: 6px;
  border-bottom: 2px solid black;
  border-radius: 5px;
}

.tableContainer table tbody tr td{
  min-width: 200px;
  padding: 6px;
  text-align: center;
  background-color: rgb(210, 160, 98);
  border-radius: 5px;
  border-bottom: 1px solid black;
}

.btn-edit,
.btn-delete{
  border: black;
  padding: 5px 10px;
  margin: 0px 10px;
  font-size: 16px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 552;
  font-family: 'Times New Roman', Times, serif;
}

.btn-edit{
  background-color: rgb(0, 227, 4);
}

.btn-delete{
  background-color: rgb(231, 2, 2);
}

